header{
	text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#container{
	text-align: center;
}
#canvas{
	cursor: none;
}